# # Environment variables
# .env
# .env.local
# .env.*.local

# # IDE
# .idea

# # Dependencies
# composer.lock
# vendor
# node_modules

# # Logs
# logs
# *.log
# test_logs
# error_log

# # Test results
# phpunit-test-results
# .phpunit.result.cache

# # Coverage
# coverage.xml

# # Documentation
# output/

# # OS
# .DS_Store
# Thumbs.db

# # Cache
# .cache
# *.cache



